---
import { getCollection } from "astro:content";

const posts = await getCollection("research_themes");

// Sort alphanumerically by file name
const sortedPosts = posts.sort((a, b) => {
    return a.slug.localeCompare(b.slug, undefined, {
        numeric: true,
        sensitivity: 'base'
    });
});

// Convert markdown body into HTML
const postsWithRenderedContent = await Promise.all(
    sortedPosts.map(async (post) => {
        const { Content } = await post.render();
        return { ...post, Content };
    }),
);
---
<div class="cards">
    { postsWithRenderedContent.map(({ data, Content }) => (
            <div class="row">
                <div class="title">
                    <h3>{data.title}</h3>
                </div>
                
                <div class="card">
                    <Content />
                </div>
                
            </div>
        ))
    }
</div>

<style>
    .row {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 20px;
        margin-bottom: 30px;
    }

    .row .title h3 {
        width: 20ch;
        padding: 0;
        margin: 0;
        font-weight: 300;
        margin-right: 5ch;
        line-height: 1.25;
        letter-spacing: 2px;
    }

    .cards {
        justify-content: center;
        align-items: start;
        gap: 10px;
    }
    .card {
      padding: 0;
      margin: 0;
      text-align: left;
    }

    @media (max-width: 728px) {
        .row {
            flex-direction: column;
        }
        .row .title h3 {
            width: 100%;
        }
    }
</style>