---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import VideoBG from "../components/VideoBG.astro";
import ScrollSpy from "../components/ScrollSpy.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script>

    <title>{title}</title>
    </script>
  </head>
  <body>
  hi
    <VideoBG videoId="1091030034" />
    <Header />
    <!-- <h1>{title}</h1> -->
    <slot />

    <Footer />
    <ScrollSpy />
    <!-- <script src="/scripts/script.js"></script> -->
    <!-- <script src="/scripts/menu.js"></script> -->
  </body>
</html>
